<p id="notice"><%= notice %></p>

<p>
  <strong>Lens size:</strong>
  <%= @camera.lens_size %>
</p>

<p>
  <strong>Description:</strong>
  <%= @camera.description %>
</p>

<p>
  <strong>Mega pixels:</strong>
  <%= @camera.mega_pixels %>
</p>

<%= link_to 'Edit', edit_camera_path(@camera) %> |
<%= link_to 'Back', cameras_path %>
